.wrapper {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  min-height: 100vh;
}

.main {
  max-width: 64rem;
  margin: auto;
  padding: 2rem;
}

.menu {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.list {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 1rem;
}

.content {
  display: grid;
  justify-content: center;
  gap: 2rem 0;
  margin-top: 4rem;
  text-align: center;
  min-width: 31,25rem;
}
